<html>
<head>
    <title>Logger</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>IP logger</h1>
    <h2>Connections:</h2>
    {% for i in connections %}
        <table border="3">
            <tr>
                <th>IP</th>
                <th>{{i.ip}}</th>
            </tr>
            <tr>
                <th>Shell</th>
                <th>{{i.shell}}</th>
            </tr>
            <tr>
                <th>User agent</th>
                <th>{{i.user_agent}}</th>
            </tr>
            <tr>
                <th>Language</th>
                <th>{{i.accept_language}}</th>
            </tr>
            <tr>
                <th>Country</th>
                <th>{{i.country}}</th>
            </tr>
        </table>
    {% endfor %}
</body>
</html>